# Docker MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress

# WordPress ports (change if conflicts with other services)
WP_PORT=8888
PMA_PORT=8889

# Plugin slug (used by init.sh)
PLUGIN_SLUG=tp-media-offload-edge-cdn

# WordPress.org SVN
WPORG_SVN_URL=https://plugins.svn.wordpress.org/tp-media-offload-edge-cdn
WPORG_SVN_WORKING_COPY=~/tmp/wporg-tp-media-offload-edge-cdn
WPORG_SVN_USERNAME=thachpn165
